HACK_CLUB_AI_API_KEY=
GROQ_API_KEY=

GROQ_MODEL=openai/gpt-oss-120b
GROQ_TEMPERATURE=0.1
PORT=3000
REFRESH_INTERVAL_HOURS=24

CRON_SECRET=
NEWS_SUBJECTS=Technology,Business,Science,Health,Climate,Sports,Entertainment,AI

#in case ur hosting on vercel
BLOB_READ_WRITE_TOKEN=
USE_BLOB_STORAGE=false